---
layout: default
permalink: /
redirect_from:
  - /home
---

{{ content }}

<h1>Recent Posts</h1>
{% for post in site.posts limit:2 %}
<ul>
  <h3>
    <a href="{{ post.url }}">
      <div class="related-thumbnail">
        {% if post.image %}
          <div class="crop-container">
            <img src="/assets/img/post_header_images/{{ post.image }}">
          </div>
        {% endif %}
      </div>
    <div class="related-title">
        {{ post.title }}
      </div>
      <small>{{ post.date | date: "%B %-d, %Y" }}</small>
    </a>
  </h3>
</ul>
{% endfor %}
